  @page "/ShowProduct/{Id:int}"
@inject NavigationManager navigationManager
@inject IJSRuntime js
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage MySession
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
@using Microsoft.AspNetCore.SignalR.Client
@using Models
@using DBL
@using Hubs
@* @implements IAsyncDisposable *@


@if (friend != null)
{
    <h1>@friend.first_name</h1>


    @* <div class="container overflow-auto shadow-sm p-3 mb-5 bg-white rounded " style="height:500px">
        @if (!usermessages.Any())
        {
            <p>there are no massges yet, talk! </p>
        }
        @foreach (SignalrPersonMessage signalrPersonMessage in usermessages)
        {
            <div class="row mb-3 d-flex">
                <div class="card shadow" style="width:18rem">
                    <div class=" card-header">
                        @signalrPersonMessage.person.first_name;
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@signalrPersonMessage.massage</li>
                    </ul>
                    <div class="card-footer">
                        <span class="small">@signalrPersonMessage.datesent.ToString("HH:mm|MMM dd")</span>
                    </div>
                </div>
            </div>
        }


    </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <textarea @bind="massageinput" class="form-control" placeholder="start ttyping..."></textarea>
            </div>
            <div class="col-3">
                <button type="button" @onclick="SendToFriend" disabled="@(!Isconnected)" class="btn-primary">send</button>
            </div>

        </div>



    </div>
}
<script src="/js/signalr/dist/browser/signalr.js"></script>
<script src="/js/chat.js"></script>
@code {
    [Parameter] public int id { get; set; }
    private Person friend = null;
    public Student userS = null;
    public teacher userT = null;
    private HubConnection hubConnection;
    private List<SignalrPersonMessage> usermessages = new();
    private string massageinput;
    private bool isUserReadOnly;
    public bool Isconnected => hubConnection.State == HubConnectionState.Connected;
    private string myConId = "";
    private bool flag = true;
    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
        .WithUrl(navigationManager.ToAbsoluteUri("/chathub"))
        .WithAutomaticReconnect()
        .Build();

        hubConnection.On<Person, string>("ReceiveMassage", async (me, message) =>
        {
            usermessages.Add(new SignalrPersonMessage { person = me, massage = message, curruntperson = me == userS, datesent = DateTime.Now });
            await InvokeAsync(StateHasChanged);
        });
        await hubConnection.StartAsync();


        myConId = hubConnection.ConnectionId;
        Console.WriteLine(myConId);

    }

    public async Task SendToFriend()
    {
        // if (userS != null)
        // {
        //     if (await StaticChatHub.IfKeyHasVal(userS.email))
        //     {
        //         flag = true;
        //         await setconid();
        //     }
        // }

        if (!string.IsNullOrEmpty(massageinput) && hubConnection != null)
        {

            if (StaticChatHub.conids != null)
            {


                if (await StaticChatHub.IsMyFriendHereOrme(friend.email) > 0)
                {


                    List<string> myfreindconidS = await StaticChatHub.GiveMyFriendCon(friend.email);
                    await hubConnection.SendAsync("SendMessageToFriend", myfreindconidS, massageinput, userS);
                }
                // await hubConnection.SendAsync("SendMessage",friend, massageinput);
                // await hubConnection.SendAsync("MessageBetweenFriends", userS as Person,s,massageinput);
                isUserReadOnly = true;
                massageinput = "";
            }
        }

    }

    protected override async void OnParametersSet()
    {
        if (id == null)
            id = 0;
        else
        {
            myConId = hubConnection.ConnectionId;
            PersonStudentDB personStudentDB = new PersonStudentDB();
            friend = await personStudentDB.SelectByPkAsync(id);
            // pLst = await productDB.GetBestProductAsync(4);
            if(userS!=null&&await StaticChatHub.IsMyFriendHereOrme(userS.email) ==0)
            {

                StaticChatHub.conids.Add(userS.email, myConId);
            }
            StateHasChanged();
        }
    }

    // public async ValueTask DisposeAsync()
    //  {
    //      if(hubConnection is not null)
    //      {
    //          await hubConnection.DisposeAsync();
    //      }

    //  }


    public async Task setconid()
    {
        if (flag)
        {
            //if(StaticChatHub.)
            Console.WriteLine(myConId);
            StaticChatHub.conids.Add(userS.email, myConId);
            flag = false;

        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)///
    {

        if (firstRender)
        {
            Console.WriteLine("first re");
            var user1 = await MySession.GetAsync<Student>("student");
            if (user1.Success)
            {
                userS = user1.Value;
                
                

                if (!string.IsNullOrEmpty(myConId))
                    await setconid();


                StateHasChanged();
            }
            var user2 = await MySession.GetAsync<teacher>("teacher");
            if (user2.Success)
            {
                userT = user2.Value;
                StateHasChanged();
            }

        }
        // else if (!string.IsNullOrEmpty(myConId))
        // {
        //     await setconid();
        // }

    }
}
