@using Models
@using DBL
@using Microsoft.AspNetCore.Components.QuickGrid;
@inject IJSRuntime js
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage MySession
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
@using Blazored.Toast.Services

@inject IToastService ToastService
@page "/Usermenegment"
<head>
    <title>wait a minute</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html, body, h1, h2, h3, h4, h5, h6 {
        font-family: "Roboto", sans-serif
        }
    </style>
</head>
@if (userS!=null||userT!=null)
{


    <div class="w3-light-grey">

        <!-- Page Container -->
        <div class="w3-content w3-margin-top" style="max-width:1400px;">

            <!-- The Grid -->
            <div class="w3-row-padding">

                <!-- Left Column -->
                <div class="w3-third">

                    <div class="w3-white w3-text-grey w3-card-4">
                        <div class="w3-display-container">
                            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" style="width:100%" alt="Avatar">
                            <div class="w3-display-bottomleft w3-container w3-text-black">
                                <h2>@basicuser.first_name @basicuser.last_name</h2> @* שם משתמש *@
                            </div>
                        </div>
                        <div class="w3-container">

                            @if (userS != null)
                            {
                                <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>student</p>
                            }
                            else
                            {
                                if (userT.isprivate == 0)
                                {
                                    <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>class teacher</p>
                                }
                                else
                                {
                                    <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>private teacher</p>
                                }
                            }

                            <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>London, UK</p>
                            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>@basicuser.email</p>

                            <hr>
                            @* כאן יהיו הדירוגים של מורה וציונים של תלמיד *@
                            @* <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
                        <p>Adobe Photoshop</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
                        </div>
                        <p>Photography</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
                                <div class="w3-center w3-text-white">80%</div>
                            </div>
                        </div>
                        <p>Illustrator</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
                        </div>
                        <p>Media</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
                        </div>
                        <br> *@


                            <br>
                            <button type="button" class="btn btn-danger">log out</button>
                        </div>
                    </div><br>

                    <!-- End Left Column -->
                </div>

                <!-- Right Column -->
                <div class="w3-twothird">

                    <div class="w3-container w3-card w3-white w3-margin-bottom">
                        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>

                        <div class="w3-container">
                            <h5 class="w3-opacity"><b>change your password</b></h5>

                            <input type="password" name="text" class="input" placeholder="Enter your password!" @bind-value="new_password">
                            <h5 class="w3-opacity"><b>repeat</b></h5>

                            <input type="password" name="text" class="input" placeholder="Enter your password!" @bind-value="repeat_password">
                            <br />
                            @if (userS != null)
                            {
                                <button class="btn btn-secondary" role="button" @onclick="UpdateT"> update password</button>
                            }
                            else
                            {
                                <button class="btn btn-secondary" role="button" @onclick="UpdateS"> update password</button>
                            }
                            <hr>

                        </div>

                        @if (userT != null &&!string.IsNullOrEmpty(userT.bio))
                        {
                            <div class="w3-container">
                                <h5 class="w3-opacity"><b>bio</b></h5>

                                <p>@userT.bio </p><br>
                            </div>
                            <div class="form__group field">
                                <button type="button" @onclick="UpdateBio" class="btn btn-success">update bio</button>
                                <input @bind-value="newbio" type="input" class="form__field" placeholder="new bio" name="name" id='name' required />

                            </div>
                        }
                        else if (userT != null && string.IsNullOrEmpty(userT.bio))
                        {
                            <div class="form__group field">
                                <input @bind-value="newbio" type="input" class="form__field" placeholder="new bio" name="name" id='name' required />
                                <button type="button" @onclick="UpdateBio" class="btn btn-success">update bio</button>
                            </div>
                        }
                    </div>

                    <div class="w3-container w3-card w3-white">
                        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
                        <div class="w3-container">
                            <h5 class="w3-opacity"><b>W3Schools.com</b></h5>
                            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Forever</h6>
                            <p>Web Development! All I need to know in one place</p>
                            <hr>
                        </div>
                        @if (userT != null && MySubjects!=null)
                        {
                            <div class="w3-container w3-card w3-white w3-margin-top">
                                <h2 class="w3-text-grey w3-padding-16">
                                    <i class="fa fa-book fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Your Subjects
                                </h2>
                                <table class="w3-table-all">
                                    <thead>
                                        <tr>
                                            <th>Subject</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Subject subject in MySubjects)
                                        {
                                            <tr>
                                                <td>@subject.subjectName</td>
                                                <td>
                                                    <button class="w3-button w3-red w3-small" @onclick="@(() => DeleteSubject(subject.subjectid))">Delete</button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        <br />
                        @if (userS != null)
                        {

                            <div class="w3-container">
                                <table class="table w-100">
                                    <thead>
                                        <tr>
                                            <th>talk</th>
                                            <th>name</th>
                                            <th>email</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Person person in my_friends_that_im_their_friend_to)
                                        {

                                            <tr>

                                                <td><a href="ShowProduct/@person.Id.ToString()"> talk</a></td>
                                                <td>@person.first_name</td>

                                                <td>
                                                    @person.email
                                                </td>

                                            </tr>
                                        }

                                    </tbody>
                                </table>

                            </div>
                        }
                        else if(userT!=null &&userT.isprivate!=0)
                        {

                            <div class="w3-container">
                                <table class="table w-100">
                                    <thead>
                                        <tr>

                                            <th>name</th>
                                            <th>email</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Person person in student_that_i_teach)
                                        {

                                            <tr>


                                                <td>@person.first_name</td>

                                                <td>
                                                    @person.email
                                                </td>

                                            </tr>
                                        }

                                    </tbody>
                                </table>

                            </div>
                            <div>
                                <select id="subjectFilter" @bind="SelectedSubject">
                                    <option value="">All Subjects</option>
                                    @foreach (Subject subject in Subjects)
                                    {
                                        <option value="@subject.subjectid">@subject.subjectName</option>
                                    }
                                </select>
                                <button type="button" @onclick="choosesub" class="btn btn-dark">Dark</button>
                            </div>


                        }
                        <div class="w3-container">
                            <h5 class="w3-opacity"><b>School of Coding</b></h5>
                            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 - 2013</h6>
                            <p>Bachelor Degree</p><br>
                        </div>
                    </div>

                    <!-- End Right Column -->
                </div>

                <!-- End Grid -->
            </div>

            <!-- End Page Container -->
        </div>

        <style>


            .form__group {
            position: relative;
            padding: 15px 0 0;
            margin-top: 10px;
            width: 50%;
            }

            .form__field {
            font-family: inherit;
            width: 20%;
            border: 0;
            border-bottom: 2px solid $gray;
            outline: 0;
            font-size: 1.3rem;
            color: $white;
            padding: 7px 0;
            background: transparent;
            transition: border-color 0.2s;
            ::placeholder

            {
            color: transparent;
            }

            :placeholder-shown ~ .form__label {
            font-size: 1.3rem;
            cursor: text;
            top: 20px;
            }

            }

            .form__label {
            position: absolute;
            top: 0;
            display: block;
            transition: 0.2s;
            font-size: 1rem;
            color: $gray;
            }

            .form__field:focus {
            ~ .form__label

            {
            position: absolute;
            top: 0;
            display: block;
            transition: 0.2s;
            font-size: 1rem;
            color: $primary;
            font-weight: 700;
            }


            /* reset input */
            .form__field {
            :required,&:invalid

            {
            box-shadow: none;
            }

            }
            /* demo */
            body {
            font-family: 'Poppins', sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            font-size: 1.5rem;
            background-color: #222222;
            }


            /* the css of the input new password */ 
            .input {
            border: 2px solid #e8e8e8;
            padding: 15px;
            border-radius: 10px;
            background-color: white;
            font-size: small;
            font-weight: bold;
            text-align: center;
            }

            .input:focus {
            outline-color: white;
            background-color: lightgray;
            color: #e8e8e8;
            box-shadow: 5px 5px #888888;
            }

            /* CSS */
            .button-28 {
            appearance: none;
            background-color: transparent;
            border: 2px solid #1A1A1A;
            border-radius: 15px;
            box-sizing: border-box;
            color: #3B3B3B;
            cursor: pointer;
            display: inline-block;
            font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
            font-size: 16px;
            font-weight: 600;
            line-height: normal;
            margin: 0;
            min-height: 60px;
            min-width: 0;
            outline: none;
            padding: 16px 24px;
            text-align: center;
            text-decoration: none;
            transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            width: 100%;
            will-change: transform;
            }

            .button-28:disabled {
            pointer-events: none;
            }

            .button-28:hover {
            color: #fff;
            background-color: #1A1A1A;
            box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
            transform: translateY(-2px);
            }

            .button-28:active {
            box-shadow: none;
            transform: translateY(0);
            }</style>
        <footer class="w3-container w3-teal w3-center w3-margin-top">
            <p>Find me on social media.</p>
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
            <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        </footer>

    </div>



}

@code {
    public Student userS = null;
    public Teacher userT = null;
    public Person basicuser = null;
    SubjectDB SubjectDB = new SubjectDB();
    public  friendsDB friendsD = new friendsDB();
    public PersonStudentDB personStudentDB = new PersonStudentDB();
    string new_password = "";
    string repeat_password = "";
    Person person = new Person();
    List<Person> my_friends_that_im_their_friend_to = new List<Person>();
    List<Person> student_that_i_teach = new List<Person>();
    string newbio = "";
    studentDB studentDB = new studentDB();
    private List<Subject> Subjects { get; set; } = new List<Subject>();
    private string SelectedSubject { get; set; } = string.Empty;
    List<Subject> MySubjects = new List<Subject>();

    public async Task LoadTeacherSubjects()
    {
        Sub_to_teacherDB subToTeacherDB = new Sub_to_teacherDB();
        MySubjects = await SubjectDB.SelectAllSubjectForTeacher(userT.Id);
        StateHasChanged();
    }

    public async Task DeleteSubject(int subjectId)
    {
        Sub_to_teacherDB subToTeacherDB = new Sub_to_teacherDB();
        await subToTeacherDB.DellsubtoT(userT.Id, subjectId);
        await LoadTeacherSubjects(); // Refresh list
    }
    protected override async Task OnInitializedAsync()
    {
        Subjects = await SubjectDB.SelectAllSubjects();
    }
    public async Task UpdateS()
    {
        Student student = new Student();
        student.email = userS.email;
        student.Id = userS.Id;
        student.first_name = userS.first_name;
        student.last_name = userS.last_name;
        studentDB s = new studentDB();

        if (new_password!=""&&repeat_password!="")
        {

            if (new_password==repeat_password)
            {
                Console.WriteLine("yy");
                student.password = new_password;
                if( await s.updateAsync(student))
                {

                    ToastService.ShowSuccess("password has been changed");
                }
                else
                {
                    ToastService.ShowError("data base problem try again");
                }
            }
            else
            {
                await js.InvokeVoidAsync("alert", @$" 'new password' does not match 'repeat password'");
            }


        }
        else
        {
            await js.InvokeVoidAsync("alert", @$"you didnt fill 'new password' or 'repeat password'");
        }
        StateHasChanged();



    }
    public async Task UpdateT()
    {
        Teacher teacher = new Teacher();
        teacher.email = userS.email;
        teacher.Id = userS.Id;
        teacher.first_name = userS.first_name;
        teacher.last_name = userS.last_name;
        teacherDB s = new teacherDB();
        if (new_password != "" && repeat_password != "")
        {

            if (new_password == repeat_password)
            {

                teacher.password = new_password;
                if(  await   s.updateAsync(teacher))
                {
                    ToastService.ShowSuccess("password has been changed");
                }
                else
                {
                    ToastService.ShowError("data base problem try again");
                }

               

            }
            else
            {
                await js.InvokeVoidAsync("alert", @$" 'new password' does not match 'repeat password'");
            }


        }
        else
        {
            await js.InvokeVoidAsync("alert", @$"you didnt fill 'new password' or 'repeat password'");
        }
        StateHasChanged();



    }
    public async Task choosesub()
    {
        if(!string.IsNullOrEmpty(SelectedSubject))
        {
            Sub_to_teacher sub_To_Teacher = new Sub_to_teacher(userT.Id, int.Parse(SelectedSubject));
            Sub_to_teacherDB sub_To_TeacherDB = new Sub_to_teacherDB();
            await sub_To_TeacherDB.Insertsubtoteacher(sub_To_Teacher);
        }
        else
        {
            ToastService.ShowError("choose subject");
        }
    }
    public async Task UpdateBio()
    {
        teacherDB teacherDb = new teacherDB();
        Teacher teacher = new Teacher();
        teacher.email = userS.email;
        teacher.Id = userS.Id;
        teacher.first_name = userS.first_name;
        teacher.last_name = userS.last_name;
        teacher.bio = newbio;
        if( await teacherDb.updateAsyncbio(teacher))
        {
            ToastService.ShowSuccess("bio has been changed");
        }
        else
        {
            ToastService.ShowError("somthing went wrong try again");
        }
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)///  גם אם זה מורה זה יהיה סטודנט תחילה כי ישנה ירושה
    {

        if (firstRender)
        {
            var user1 = await MySession.GetAsync<Student>("student");
            if (user1.Success)
            {
                userS = user1.Value;

                basicuser = user1.Value;
                Student S = await studentDB.LoginAsync(basicuser.email, basicuser.password);
                userS = S;
                my_friends_that_im_their_friend_to =await friendsD.GiveAll_AreWeBothFriends_(userS);
                StateHasChanged();
            }
            var user2 = await MySession.GetAsync<Teacher>("teacher");
            if (user2.Success)
            {
                userT = user2.Value;
                basicuser = user2.Value;
                if(userT.isprivate==3||userT.isprivate==1)
                student_that_i_teach = await personStudentDB.GetAllPersonStudentThatTeacherTaught(userT.Id);
                await LoadTeacherSubjects();
                StateHasChanged();

                StateHasChanged();
            }
            if(!user1.Success&&!user2.Success)
            {
                navigationManager.NavigateTo("/");
            }

        }
       
    }
}
