@using Models
@using DBL
@using Microsoft.AspNetCore.Components.QuickGrid;
@inject IJSRuntime js
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage MySession
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
@page "/Usermenegment"
@if (userS!=null||userT!=null)
{

<head>
    <title>wait a minute</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
    </style>
</head>
<body class="w3-light-grey">

    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">

        <!-- The Grid -->
        <div class="w3-row-padding">

            <!-- Left Column -->
            <div class="w3-third">

                <div class="w3-white w3-text-grey w3-card-4">
                    <div class="w3-display-container">
                            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" style="width:100%" alt="Avatar">
                        <div class="w3-display-bottomleft w3-container w3-text-black">
                            <h2>@basicuser.first_name @basicuser.last_name</h2> @* שם משתמש *@
                        </div>
                    </div>
                    <div class="w3-container">
                        
                        @if (userS != null)
                        {
                            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>student</p>
                        }
                        else
                        {
                            if (userT.isprivate == 0)
                            {
                                <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>class teacher</p>
                            }
                            else
                            {
                                <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>private teacher</p>
                            }
                        }

                        <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>London, UK</p>
                        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>@basicuser.email</p>
                        
                        <hr>
                        @* כאן יהיו הדירוגים של מורה וציונים של תלמיד *@
                        @* <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
                        <p>Adobe Photoshop</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
                        </div>
                        <p>Photography</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
                                <div class="w3-center w3-text-white">80%</div>
                            </div>
                        </div>
                        <p>Illustrator</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
                        </div>
                        <p>Media</p>
                        <div class="w3-light-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
                        </div>
                        <br> *@
                         
                        <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
                        <p>English</p>
                        <div class="w3-light-grey w3-round-xlarge">
                            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
                        </div>
                        <p>Spanish</p>
                        <div class="w3-light-grey w3-round-xlarge">
                            <div class="w3-round-xlarge w3-teal" style="height:24px;width:55%"></div>
                        </div>
                        <p>German</p>
                        <div class="w3-light-grey w3-round-xlarge">
                            <div class="w3-round-xlarge w3-teal" style="height:24px;width:25%"></div>
                        </div>
                        <br>
                    </div>
                </div><br>

                <!-- End Left Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-twothird">

                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
                    
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>change your password</b></h5>
                        
                            <input type="password" name="text" class="input" placeholder="Enter your password!" @bind-value="new_password">
                        <h5 class="w3-opacity"><b>repeat</b></h5>

                            <input type="password" name="text" class="input" placeholder="Enter your password!" @bind-value="repeat_password">
                        
                            @if (userS != null)
                            {
                                <button class="button-28" role="button" @onclick="UpdateT"> doit</button>
                            }
                            else
                            {
                                <button class="button-28" role="button" @onclick="UpdateS"> doit 28</button>
                            }
                            <hr>

                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Web Developer / something.com</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2012 - Dec 2014</h6>
                        <p>Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
                        <hr>
                    </div>
                    @if (userT != null &&!string.IsNullOrEmpty(userT.bio))
                    {
                        <div class="w3-container">
                            <h5 class="w3-opacity"><b>bio</b></h5>
                            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2010 - Mar 2012</h6>
                            <p>@userT.bio </p><br>
                        </div>
                    }
                </div>

                <div class="w3-container w3-card w3-white">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>W3Schools.com</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Forever</h6>
                        <p>Web Development! All I need to know in one place</p>
                        <hr>
                    </div>
                        @if (userS != null)
                        {

                            <div class="w3-container">
                                <table class="table w-100">
                                    <thead>
                                        <tr>
                                            <th>talk</th>
                                            <th>name</th>
                                            <th>email</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Person person in my_friends_that_im_their_friend_to)
                                        {
                                           
                                            <tr>
                                               
                                                <td><a href="ShowProduct/@person.Id.ToString()"> talk</a></td>
                                                <td>@person.first_name</td>
                                                
                                                <td>
                                                   @person.email
                                                </td>
                                                
                                            </tr>
                                        }
                                        
                                    </tbody>
                                </table>
                              @*   <QuickGrid Class="table table-striped"
                                Items=@userS.friends.AsQueryable() >

                                    <PropertyColumn Title="first_name" Property="@(x=>x.first_name)" Sortable="true" ></PropertyColumn>

                                    <PropertyColumn Title="last name" Property="@(x=>x.last_name)" Sortable="true"></PropertyColumn>
                                    <PropertyColumn Title="email" Property="@(x=>x.email)"></PropertyColumn>
                                    @* <PropertyColumn Title="email" Property="@(x=>x.id)"<a href="ShowProduct/@x.ToString()">></PropertyColumn> *@
                                   @*  @foreach (Person person in userS.friends)
                                    {
                                        if (await friendsD.AreWeBothFriends(userS.Id, person.Id)==1)
                                        {
                                            <TemplateColumn Title="talk"><a href="ShowProduct/@person.Id.ToString()">Open</a></TemplateColumn>
                                        }
                                    }
                                </QuickGrid> *@ 
                            </div>
                        }
                        <div class="w3-container">
                        <h5 class="w3-opacity"><b>School of Coding</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 - 2013</h6>
                        <p>Bachelor Degree</p><br>
                    </div>
                </div>

                <!-- End Right Column -->
            </div>

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>

    <style>
      /* the css of the input new password */ 
            .input {
                border: 2px solid #e8e8e8;
                padding: 15px;
                border-radius: 10px;
                background-color: white;
                font-size: small;
                font-weight: bold;
                text-align: center;
            }

            .input:focus {
                outline-color: white;
                background-color: lightgray;
                color: #e8e8e8;
                box-shadow: 5px 5px #888888;
            }

        /* CSS */
        .button-28 {
            appearance: none;
            background-color: transparent;
            border: 2px solid #1A1A1A;
            border-radius: 15px;
            box-sizing: border-box;
            color: #3B3B3B;
            cursor: pointer;
            display: inline-block;
            font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
            font-size: 16px;
            font-weight: 600;
            line-height: normal;
            margin: 0;
            min-height: 60px;
            min-width: 0;
            outline: none;
            padding: 16px 24px;
            text-align: center;
            text-decoration: none;
            transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            width: 100%;
            will-change: transform;
        }

        .button-28:disabled {
            pointer-events: none;
        }

        .button-28:hover {
            color: #fff;
            background-color: #1A1A1A;
            box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
            transform: translateY(-2px);
        }

        .button-28:active {
            box-shadow: none;
            transform: translateY(0);
        }</style>
    <footer class="w3-container w3-teal w3-center w3-margin-top">
        <p>Find me on social media.</p>
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </footer>

</body>



}

@code {
    public Student userS = null;
    public teacher userT = null;
    public Student basicuser = null;
    public  friendsDB friendsD = new friendsDB();
    string new_password = "";
    string repeat_password = "";
    Person person = new Person();
    List<Person> my_friends_that_im_their_friend_to = new List<Person>();
    public async Task UpdateS()
    {
        Student student = new Student();
        student.email = userS.email;
        student.Id = userS.Id;
        student.first_name = userS.first_name;
        student.last_name = userS.last_name;
        studentDB s = new studentDB();

        if (new_password!=""&&repeat_password!="")
        {

            if (new_password==repeat_password)
            {
                Console.WriteLine("yy");
                student.password = new_password;
                await s.updateAsync(student);

                await js.InvokeVoidAsync("alert", @$"nice");

            }
            else
            {
                await js.InvokeVoidAsync("alert", @$" 'new password' does not match 'repeat password'");
            }


        }
        else
        {
            await js.InvokeVoidAsync("alert", @$"you didnt fill 'new password' or 'repeat password'");
        }
        StateHasChanged();



    }
    public async Task UpdateT()
    {
        teacher teacher = new teacher();
        teacher.email = userS.email;
        teacher.Id = userS.Id;
        teacher.first_name = userS.first_name;
        teacher.last_name = userS.last_name;
        teacherDB s = new teacherDB();
        if (new_password != "" && repeat_password != "")
        {

            if (new_password == repeat_password)
            {

                teacher.password = new_password;
                await   s.updateAsync(teacher);

                await js.InvokeVoidAsync("alert", @$"nice");

            }
            else
            {
                await js.InvokeVoidAsync("alert", @$" 'new password' does not match 'repeat password'");
            }


        }
        else
        {
            await js.InvokeVoidAsync("alert", @$"you didnt fill 'new password' or 'repeat password'");
        }
        StateHasChanged();



    }
    protected override async Task OnAfterRenderAsync(bool firstRender)///  גם אם זה מורה זה יהיה סטודנט תחילה כי ישנה ירושה
    {

        if (firstRender)
        {
            var user1 = await MySession.GetAsync<Student>("student");
            if (user1.Success)
            {
                userS = user1.Value;
                basicuser = user1.Value;
                my_friends_that_im_their_friend_to =await friendsD.GiveAll_AreWeBothFriends_(userS);
                StateHasChanged();
            }
            var user2 = await MySession.GetAsync<teacher>("teacher");
            if (user2.Success)
            {
                userT = user2.Value;
                basicuser = user1.Value;
                StateHasChanged();
            }
            if(!user1.Success&&!user2.Success)
            {
                navigationManager.NavigateTo("/");
            }

        }
       
    }
}
